---
interface Props {
  title: string;
}

const { title } = Astro.props;
const description =
  "pmsky is a platform that enables peer-moderation on Bluesky.";
import linkCard from "/src/images/link_card.jpg";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta property="og:title" content="AfternoonSky" />
    <meta name="twitter:title" content="AfternoonSky" />
    <title>{title}</title>
    <link rel="stylesheet" href="https://fonts.xz.style/serve/inter.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@exampledev/new.css@1.1.2/new.min.css"
    />
    <meta property="og:image" content={linkCard.src} />
    <meta name="twitter:image" content={linkCard.src} />
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  :root {
    /* variables */
  }
  html {
    font-family: system-ui, sans-serif;
    /* background: #13151a; */
  }
  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }
</style>

<script>
  document.querySelectorAll('a[href^="#"]').forEach((anchor) => {
    const href = anchor.getAttribute("href");
    if (href !== null) {
      anchor.addEventListener("click", function (e) {
        e.preventDefault();

        document.querySelector(href)?.scrollIntoView({
          behavior: "smooth",
        });
      });
    }
  });
</script>
