---
interface Props {
  page?: string;
}

const { page } = Astro.props;
const title = page ? `pmsky | ${page}` : "pmsky";
const description = "enabling peer moderation on bsky";
import linkCard from "/src/images/link_card.jpg";
import "../styles/main.css";
import PmskyHeader from "../components/PmskyHeader.astro";
import Footer from "../components/Footer.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <link rel="stylesheet" href="https://fonts.xz.style/serve/inter.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@exampledev/new.css@1.1.2/new.min.css"
    />
    <meta property="og:image" content={linkCard.src} />
    <meta name="twitter:image" content={linkCard.src} />
  </head>
  <body>
    <PmskyHeader page={page} />
    <slot />
    <Footer />
  </body>
</html>
<style is:global>
  :root {
    /* variables */
  }
  html {
    font-family: system-ui, sans-serif;
    /* background: #13151a; */
  }
  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }
</style>
